In [1]:
import seaborn as sns
import pandas as pd

iris = sns.load_dataset("iris")
result = iris.loc[:, ['sepal_length', 'species']]
result

     sepal_length    species
0             5.1     setosa
1             4.9     setosa
2             4.7     setosa
3             4.6     setosa
4             5.0     setosa
..            ...        ...
145           6.7  virginica
146           6.3  virginica
147           6.5  virginica
148           6.2  virginica
149           5.9  virginica

[150 rows x 2 columns]

# excel 파일 불러오기
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html#pandas.DataFrame.to_excel

In [2]:
result.to_excel("dataset/iris_excel_file.xlsx", sheet_name="Sheet_name1", index=False)

# Group By 연산
- 집계함수 같이 활용
- 분석의 목적 : 그룹별로 비교하고 싶을 때 사용

In [4]:
import seaborn as sns

tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 성별로 tip 평균 구하기

In [6]:
# 그룹화 하려는 걸 groupby("이 안에!!")["그룹화해서 알고 싶은 거"].집계함수()

tips.groupby('sex', observed=True)['tip'].mean()

# 통계적으로 유의한가 : 기초 통계

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

In [9]:
# 요일별 총 결제 금액 구하기
tips.groupby('day', observed=True)['total_bill'].sum()

day
Thur    1096.33
Fri      325.88
Sat     1778.40
Sun     1627.16
Name: total_bill, dtype: float64

In [11]:
# 요일 & 성별로 팁 평균
tips.groupby(['day', 'sex'], observed=True)['tip'].mean()

day   sex
Thur  Male      2.980333
      Female    2.575625
Fri   Male      2.693000
      Female    2.781111
Sat   Male      3.083898
      Female    2.801786
Sun   Male      3.220345
      Female    3.367222
Name: tip, dtype: float64

In [13]:
## 식사시간별 인원 수 평균

tips.groupby('time', observed=True)['size'].mean()

time
Lunch     2.411765
Dinner    2.630682
Name: size, dtype: float64

## 두 가지 범주 groupby 출력 변환

In [16]:
result = tips.groupby(['day','sex'], observed=True)['tip'].mean()

result # Series로 결과 반환

result.unstack() # dataframe으로 반환
type(result.unstack()) # 히트맵 시각화로 바로 적용 가능

pandas.core.frame.DataFrame

## 집계함수 2개 사용하기
- agg([집계함수이름들...])

In [25]:
# tips.groupby(['day','sex'], observed=True)['tip'].agg(['sum', 'mean'])

result = tips.groupby(['day','sex'], observed=True)[['tip', 'total_bill']].agg(['sum', 'mean'])
result_columns = ['_'.join(col) for col in result.columns]
result_columns
result.reset_index()
result.to_csv("dataset/result_tips.csv", index=False)

In [20]:
# tips.groupby(['day','sex'], observed=True)['tip', 'total_bill'].agg(['sum', 'mean'])
# 중첩리스트 안 쓰면 에러 뜸... 왜???